html,body {
  background-color: #242424;
  color: #a3915e;
  font-family: 'Lato', sans-serif;
}
header {
  width: 100%;
  min-height: 800px;
  position: relative;
  display: table;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('/img/jumbo-background-sm.jpg');
  color: #fff;
}

@media (max-height: 600px) {
  header {
    min-height: 510px;
  }
}

.hotel-slogan {
  vertical-align: middle;
  display: table-cell;
  margin-top: -50px;
}

.hotel-slogan img {
  width: 373px;
  height: 188px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  margin-top: -120px;
  margin-bottom: 20px;
}
header p {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 992px) {
  header p {
    font-size: 20px;
  }
}
