html,body {
  background-color: #242424;
  color: #a3915e;
  font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  background-color: #242424;
  border-bottom: 1px solid #a3915e;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(36,36,36,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(36,36,36,1);
  box-shadow: 0px 2px 0px 0px rgba(36,36,36,1);
  height: 50px;
  min-height: 50px;
}
a.navbar-brand {
  background-image: url('/img/logo-top-background.png');
  background-repeat: no-repeat;
  width: 252px;
  height: 96px;
  margin-left: 25px;
  position: absolute;
  margin-left: 25px!important;
  padding: 0 0;
}
a.navbar-brand img {
  width: 175px;
  height: 69px;
  margin: 15px 39px;
}
@media (max-width: 400px) {
  a.navbar-brand {
    width: auto;
    height: auto;
    background-image: none;
  }
  a.navbar-brand img {
    width: 87px;
    height: 34px;
    margin: 7px 19px;
  }
}
div.navbar-links {
  margin: 14px 0 0 0;
  float: right!important;
}
div.navbar-links a {
  color: #a3915e;
  font-weight: 600;
}

/* Header */
header {
  width: 100%;
  min-height: 700px;
  position: relative;
  display: table;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

@media (max-height: 600px) {
  header {
    min-height: 510px;
  }
}

@media (min-width: 992px) {
  header {
    background-image: url('/img/jumbo-background.jpg');
  }
}

@media (max-width: 992px) {
  header {
    background-image: url('/img/jumbo-background-sm.jpg');
  }
}

.hotel-slogan {
  vertical-align: middle;
  display: table-cell;
  margin-top: -50px;
}

.hotel-slogan img {
  width: 373px;
  height: 188px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  margin-top: -50px;
}
header h1, header h2 {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 992px) {
  header h1, header h2 {
    font-size: 20px;
  }
}

/* Booking Widget */
#booking-widget-label {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding: 28px 20px;
}
#booking-widget {
  background-color: #a3915e;
  color: #f0ebdd;
  font-weight: 600;
  padding: 24px 20px 29px;
}
#booking-widget label {
  font-size: 24px;
  margin-top: 10px;
}
#booking-widget .btn-group {
  padding-top: 42px;
}
#booking-widget .input-group, #booking-widget .btn-group {
  width: 100%;
}
@media (min-width: 992px) {
  #booking-widget .input-group {
    float: left;
  }
  #booking-widget-label {
    text-align: right;
    text-transform: uppercase;
  }
  #booking-widget .input-group, #booking-widget .btn-group {
    width: 150px;
    margin-left: 30px;
  }
}

/* About hotel boxes */
.about-hotel-box {
  min-height: 411px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f0ebdd;
  font-size: 24px;
  padding: 65px 75px;
}
.about-hotel-box h3 {
  font-size: 48px;
  margin-bottom: 40px;
  font-family: 'Elsie', cursive;
}
#about-hotel--luxury {
  background-image: url('/img/about-hotel-luxury.jpg');
  background-position-x: center;
}
#about-hotel--spa {
  background-image: url('/img/about-hotel-spa.jpg');
}

/* Events widget */
#events-container {
  background-color: #a3915e;
  color: #242424;
  font-size: 14px;
  font-weight: 300;
}
#events-container h4 {
  font-size: 14px;
  font-weight: 600;
}
.event-container .event-card {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  margin: 25px 0;
  padding: 10px 15px;
  min-height: 280px;
}
.event-card .event-date {
  color: #c0392b;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-bottom: 6px;
}
.calendar-link-container a {
  font-weight: 600;
}

/* Map Widget */
#map-container {
  border-top: 4px solid #242424;
  height: 550px;
  transform: inherit!important;
}

#map-container.offline-map {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('/img/map-offline.jpg');
}

/* Footer */
#footer-container {
  margin-bottom: 50px;
}
#footer-container .col-md-3, #footer-container .col-md-4, #footer-container .col-md-5 {
  margin-top: 50px;
}
#footer-container h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
#footer-container p {
  margin-bottom: 4px;
}
#footer-container .contact-details-row {
  margin: 0 0 4px 0;
  border-bottom: 1px solid #3d3a30;
}
#footer-container .contact-details-row div {
  padding: 0;
}
#footer-container .contact-details-row div:last-child {
  text-align: right;
}
#footer-container .slogan-row {
  margin-top: 49px;
}
#footer-container .slogan-row img {
  width: 150px;
}

/* My account page */
body.my-account-page header {
  min-height: 75px!important;
  background-position-y: center;
  border-bottom: 1px solid #a3915e;
}

body.my-account-page #booking-widget {
  background-color: #242424;
}

div#reservations-events-container {
  background-color: #a3915e;
  color: #242424;
  padding: 20px 0;
}
div.reservation-card {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
  margin: 25px 0;
  height: 152px;
  border: 1px solid #fff;
}
div#reservation-loading {
  text-align: center;
  padding-top: 35px;
}
img.reserved-hotel-image {
  width: 150px;
  height: 150px;
  float: left;
}
div.reservation-details {
  height: 107px;
}
div.reserved-hotel-details {
  float: left;
  margin: 15px 0 0 25px;
}
div.reserved-hotel-details strong {
  font-size: 16px;
}
div.reserved-hotel-details p {
  margin: 2px 0 0;
  font-size: 12px;
}
div.reservation-price {
  float: right;
  margin: 30px 25px 0 0;
  text-align: right;
}
div.reservation-price strong {
  font-size: 22px;
}
div.reservation-price p {
  margin: 0;
}
div.reservation-actions {
  height: 23px;
  font-weight: 600;
}
div.reservation-actions a {
  margin-left: 25px;
  text-decoration: underline;
  font-size: 11px;
}
div.reservation-actions a.reservation-action--error {
  text-decoration: none;
  color: #f00;
  cursor: not-allowed;
}
div.reservation-status {
  float: right;
  margin-right: 25px;
}
div.reservation-meta-data {
  height: 20px;
  background-color: #cfcfcf;
  font-size: 11px;
}
div.reservation-meta-data span {
  line-height: 20px;
}
div.reservation-meta-data strong {
  margin-left: 25px;
}
@media (max-width: 610px) {
  img.reserved-hotel-image {
    display: none;
  }
  div.reservation-actions a, div.reserved-hotel-details, div.reservation-meta-data strong {
    margin-left: 10px;
  }
  div.reservation-price, div.reservation-status {
    margin-right: 10px;
  }
  div.reserved-hotel-details {
    margin-top: 10px;
  }
}

@-webkit-keyframes throbbing {
  0%   { opacity: 1; }
  70%  { opacity: 0.5; }
  100% { opacity: 1; }
}
@-moz-keyframes throbbing {
  0%   { opacity: 1; }
  70%  { opacity: 0.5; }
  100% { opacity: 1; }
}
@-o-keyframes throbbing {
  0%   { opacity: 1; }
  70%  { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes throbbing {
  0%   { opacity: 1; }
  70%  { opacity: 0.5; }
  100% { opacity: 1; }
}

div.reservation-card.reservation-card--unconfirmed {
  -webkit-animation: throbbing 2000ms 300ms infinite ease-out;
  -moz-animation:    throbbing 2000ms 300ms infinite ease-out;
  -o-animation:      throbbing 2000ms 300ms infinite ease-out;
  animation:         throbbing 2000ms 300ms infinite ease-out;
}

.bottom-modal {
  position: fixed;
  width: 100%;
  background-color: #333;
  border-top: 2px solid #a3915e;
  z-index: 1005;
  padding: 20px 5px;
  bottom: -1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:    all 0.3s ease-in-out;
  -o-transition:      all 0.3s ease-in-out;
  -ms-transition:     all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}

.bottom-modal.modal--hide {
  -webkit-transform:  translate(0, 200px);
	-moz-transform:     translate(0, 200px);
	-o-transform:       translate(0, 200px);
	-ms-transform:      translate(0, 200px);
  transform:          translate(0, 200px);
}

#offer-notification {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}
#offer-notification a {
  color: #a3915e;
}
#offer-notification a:hover {
  color: #c7bc9e;
  text-decoration: none;
}

#offer-notification img {
  width: 36px;
  margin-right: 10px;
  vertical-align: bottom!important;
}

/* Playground page */

div#background-image {
  background: url('/img/jumbo-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.2;
}
body.playground-page header {
  background-image: none;
  min-height: 400px;
}
@media (max-height: 720px) {
  body.playground-page header {
    background-image: none;
    min-height: 100px;
  }
}
body.playground-page h1 {
  font-size: 40px;
}

div#instructions-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  width: 100%;
}

div#instructions-container h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  padding-left: 5px;
}

@media (min-width: 692px) {
  div#instructions-code {
    float: left;
    padding-left: 60px;
  }

  div#instructions-console {
    float: right;
  }
}
@media (max-width: 691px) {
  div#instructions-container {
    text-align: center;
  }
  div#instructions-container h2 {
    width: auto!important;
  }
  div#instructions-console img {
    margin-left: 40px;
  }
}
div#instructions-code img, div#instructions-code h2 {
  width: 291px;
}

div#instructions-console img {
  width: 326px;
  margin-right: 10px;
}

div#instructions-console h2 {
  width: 245px;
}
